<div class="card-body">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card border-0 rounded-lg mt-5">
                    <h1 id="typetitle">insuranceTypeTitle</h1>
                    <h1 id="schemetitle">insuranceSchemeTitle</h1>
                    <hr>


                    
                   
                    <div class="form-floating mb-3">
                        <input class="form-control" id="profitRatio" type="number" 
                            placeholder="Enter Insurance Type" name="ratio" readonly />
                        <label for="profitRatio">Years</label>
                    </div>
                
                    <div class="form-floating mb-3">
                        <input class="form-control" id="profitRatio" type="number" 
                            placeholder="Enter Insurance Type" name="ratio" readonly />
                        <label for="profitRatio">Profit Ratio</label>
                    </div>
                    <hr>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="months"  readonly/>
                        <label for="sName">No of Months</label>
                        <!-- <div *ngIf="submitted && f.years.errors">
                    <span *ngIf="f.years.errors.required">&nbsp; state Name is required</span>
                </div> -->
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="profitRatio" type="number" 
                            placeholder="Enter Insurance Type" name="ratio" readonly />
                        <label for="profitRatio">Installment Amount</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="profitRatio" type="number" 
                            placeholder="Enter Insurance Type" name="ratio" readonly />
                        <label for="profitRatio">Interest Amount</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="profitRatio" type="number" 
                            placeholder="Enter Insurance Type" name="ratio" readonly />
                        <label for="profitRatio">Total Amount</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="profitRatio" type="number" 
                            placeholder="Enter Insurance Type" name="ratio" readonly />
                        <label for="profitRatio">Date Created</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="profitRatio" type="number" 
                            placeholder="Enter Insurance Type" name="ratio" readonly />
                        <label for="profitRatio">Maturity At</label>
                    </div>



                    <div class="mt-4 mb-0">
                        <div class="d-grid">
                            <button class="btn btn-success btn-block" >
                                Confirm & Proceed
                            </button>
                        </div>

                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>