<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
        <a class="navbar-brand" routerLink=""><b>EZ Insurance </b> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" routerLink="">Home</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="AboutUs">About</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="CustomerLogin">Login</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="AgentLogin">Agent Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div>
            <header class="py-1 bg-image-full" style="background-image: linear-gradient(180deg, rgb(0, 26, 255), rgb(0, 162, 255));">
                <div class="text-center my-5">
                    <img class="img-fluid rounded-circle mb-4" src="favicon.ico" alt="..." />
                    <h1 class="text-white fs-3 fw-bolder">EZ Insurance Web Application</h1>
                    <p class="text-white-50 mb-0">Used Tech: Asp.Net Core Web API 3.1 & Angular</p>
                </div>
            </header>
            <!-- Content section-->
            <section class="py-5">
                <div class="container my-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <h2>Developed By</h2>
                            <p class="lead">Suyash V. Wagh</p>
                            <p class="lead">Ujjay Hirbhagat</p>
                            <p class="mb-0">The universe is almost 14 billion years old, and, wow! Life had no problem starting here on Earth! I think it would be inexcusably egocentric of us to suggest that we're alone in the universe.</p>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="py-5 bg-dark">
                <div class="container"><p class="m-0 text-center text-white">Copyright &copy; EZ Insurance by Suyash & Ujjay</p></div>
            </footer>
        </div>
    </main>
</body>