<div class="card m-4">
  <div class="card-header">
      <h4 class="mt-3">Insurance Plans Table</h4>
      <hr>
    <table class="table table-hover table-bordered">
        <thead>
          <tr>      
            <th scope="col">Insuacnce Type</th>
            <th scope="col">Insuacnce Scheme</th>

            <th scope="col">Policy Term Min</th>
            <th scope="col">Policy Term Max</th>
            <th scope="col">Min Age</th>
            <th scope="col">Max Age</th>
            <th scope="col">Sum Assured Min</th>
            <th scope="col">Sum Assured Max</th>
            <th scope="col">Profit Ratio</th>        
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plan of planList">
          
            
            <td><h3>{{plan.insuranceTypeTitle}}</h3></td>
            <td>{{plan.insuranceSchemeTitle}}</td>
            <td>{{plan.policyTermMin}}</td>
            <td>{{plan.policyTermMax}}</td>
            <td>{{plan.ageMin}}</td>
            <td>{{plan.ageMax}}</td>
            <td>{{plan.investmentMin}}</td>
            <td>{{plan.investmentMax}}</td>
            <td>{{plan.profitRatio}}</td>
            <td>{{plan.isActive ? "Active" : "InActive"}}</td>
            <td><a class="btn-sm btn-success" (click)="editPlan(plan.id)">Edit</a> | <a class="btn-sm btn-danger" (click)="deletePlan(plan.id)">Delete</a></td>
          </tr>
        
        </tbody>
      </table>
  </div>
</div>