<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Customer Count : <strong class="number">{{customerCount}}</strong></div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" routerLink="/Agent/ViewCustomers">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h2 class="mt-4">Customer Details </h2>

    <div class="row">
       
        
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Customer
                        Insurance Details</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" routerLink="/Agent/ViewInsuranceDetails">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
      
       
        <div class="col-xl-3 col-md-6">
            <div class="card bg-secondary text-white mb-4">
                <div class="card-body">Customer
                    Payments</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" routerLink="/Agent/ViewPayment">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <!-- <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4" >    
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <h2>    
                        <a class="small text-white stretched-link" routerLink="/Agent/ViewClaims">Customer
                            Claims</a>                        
                    </h2>
                </div>
            </div>
        </div> -->
    </div>
    <hr>
    <h2 class="mt-4">Commission </h2>
    <div class="row">
        
        <div class="col-xl-3 col-md-6">
            <div class="card bg-info text-white mb-4">
                <div class="card-body">View Agent Commission</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" routerLink="/Agent/ViewCommission">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        
        
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Withdraw Agent Commission</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" routerLink="/Agent/WithdrawCommssion">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h2 class="mt-4">Agent Features </h2>
    <div class="row">
    <div class="row">
        
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Marketing</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" routerLink="/Agent/Marketing">Go to Marketing</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    
    
    
</div>
