<div id="layoutAuthentication_content">
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card border-0 rounded-lg mt-5">
                        <div class="card-header">
                            <h3 class="text-center font-weight-light my-4">
                                <h1 *ngIf="isAddMode">Add State</h1>
                                <h1 *ngIf="!isAddMode">Edit State</h1>
                            </h3>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="stateForm" (ngSubmit)="onSubmit()">
                                <div class="form-floating mb-3">
                                    <input type="text" formControlName="stateName" class="form-control" placeholder="statename"/>
                                    <label for="sName">State Name</label>
                                    <div *ngIf="submitted && f.stateName.errors" >
                                        <span *ngIf="f.stateName.errors.required">&nbsp; state Name is required</span>
                                    </div>
                                </div>
                               
                                  <div class="form-group">
                                    <label for="gender">Status</label>
                                    <div>
                                      <input id="active" type="radio" [value]="true" name="status" formControlName="status">
                                      <label for="active">Active</label>
                                   </div>
                          
                                   <div>
                                      <input id="active" type="radio" [value]="false" name="status" formControlName="status">
                                      <label for="active">Inactive</label>
                                   </div>
                                      
                                    
                                </div>
                                
                                <div class="mt-4 mb-0">
                                    <div class="d-grid">
                                        <button  class="btn btn-success btn-block">                                            
                                            Save
                                        </button>
                                    </div>
                                    
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>