<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    
    
    <h2 class="mt-4">Insurance</h2>

    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Insurance Detail </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" routerLink="/Customer/InsuranceDetails">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Insurance Plans </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" routerLink="/Customer/Plans">View Plans</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        
    </div>
    <hr>
    <h2 class="mt-4">Account </h2>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning ext-white mb-4">
                <div class="card-body">Edit Account </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" routerLink="/Customer/Plans">Account</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        
        
    </div>
    <hr>
    <h2 class="mt-4">Help </h2>
    <div class="row">
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger ext-white mb-4">
                <div class="card-body">Your Queries </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" routerLink="/Customer/Plans">view queries</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    
    
    
</div>
