<h1 itemprop="name" id="what-is-health-insurance">Health Insurance</h1>
<span class="extraText"> to the insured for a premium amount. It covers medical expenses incurred on hospitalization, surgeries, day care procedures, etc. A health insurance policy either reimburses the medical costs or offers cashless treatment. </span>
<div class="container mob-container clearfix buTopContainer colReverse">
    <!-- Insurer Details showForm -->
    <div >
        <div class="insurer-bu">
            <div class="insurerLogo1">
               <img src="https://static.pbcdn.in/cdn/images/bu/health/health-insurance.png" loading="lazy" alt="" width="173" height="192">
            </div>
            <div class="h1">Get <strong>₹5 Lac</strong> Health Insurance starting <strong>@ ₹200/<span>month*</span></strong></div>
        </div>
        
    <!-- Insurer Details -->
    </div>
    

    </div>

